* {
  margin: 0;
}

.rectangle {
  height: 100px;
  width: 100px;
}
#box2 {
  background-color: red;
  float: left;
}

#box3 {
  background-color: blue;
  float: left;
}

#box4 {
  background-color: black;
  float: left;
}
