/*
@media (max-width: 450px) and (min-width: 250px){
  h1 {
    background-color: white;
    color: black;
  }

p {
  font-size: 30px;}

}
/*/

.bgImage {
  height: 900px;
  background-image: url(images/pictwo.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
